body {
    font-family: Arial;
    background-color: #f4f7fa;
     }

.dashboard {
    max-width: 800px;
    margin: 50px auto;
    text-align: center;
    background: whitesmoke;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}
.dashboard p {
    margin-bottom: 30px;
    color: #666;
}
.button-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}
.btn {
    background-color: rgb(20, 156, 190);
    color: white;
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
    width: 100%;
}
.btn:hover {
    background-color: #5d47ee;
}